
  h1
  {
    color: red; 
    font-weight: bolder;
font-size: 150%;
}
h2
{
  font-size: 120%;
}

.mat-radio-button.mat-accent.mat-radio-checked.mat-radio-outer-circle {
  border-color: red;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: red;
}



  