
<div  fxLayout="row" fxLayoutAlign="center" style="text-align:center;">
<br>
    <p>Login</p>
    <br>
    <br>
    <br>

    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">

<div fxLayout="column" >
    <div fxFlex>

        <mat-form-field  appearance="fill">
      <mat-label>username</mat-label>
      <input matInput formControlName="username" type="text">
    </mat-form-field>
</div>
<div fxFlex >
    <mat-form-field appearance="fill">
        <mat-label>password</mat-label>
        <input matInput  formControlName="password"type="password" >
      </mat-form-field>
    </div>
    </div>
    
   
    
    <button type="submit"  mat-stroked-button color="warn"  [disabled]="loginForm.invalid">Login</button>         
</form>
    <div *ngIf="message.length > 0"   srole="alert">{{ message }}</div>
</div>

      