<div class="example-button-row" style="text-align: center;" >
    <button  mat-fab color="Red" style=" height: 20%;width: 20%;background-color: red; color: white; "  >Book a Trip</button>
</div>
<div style="text-align:center;">

   <br>
   <br>
   <br>
   <br>
   <br>   
   <br>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" >   
    
        <ng-container matColumnDef="To">
          <th mat-header-cell *matHeaderCellDef style="text-align:center;" > To  </th>
          <td mat-cell *matCellDef="let element"> {{element.To}} </td>
        </ng-container>
      
        <ng-container matColumnDef="From">
          <th mat-header-cell *matHeaderCellDef style="text-align:center;"> From </th>
          <td mat-cell *matCellDef="let element"> {{element.From}} </td>
        </ng-container>
      
        <ng-container matColumnDef="Pickup_point">
          <th mat-header-cell *matHeaderCellDef style="text-align:center;"> Pickup point </th>
          <td mat-cell *matCellDef="let element"> {{element.Pickup_point}} </td>
        </ng-container>
      
        <ng-container matColumnDef="Date">
          <th mat-header-cell *matHeaderCellDef style="text-align:center;"> Date </th>
          <td mat-cell *matCellDef="let element"> {{element.Date}} </td>
        </ng-container>
      
        <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef style="text-align:center;"> Action </th>
            <td mat-cell *matCellDef="let element"> <a style="color: red; text-align:left ;">Delete</a>
          </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</div> 